$color-primary:   #086788;
$color-secondary: #07A0C3;
$color-tertiary:  #8D5A97;
$color-mint:      #E5F4E3;
$color-slate:     #393E41;
$color-warn:      #F09E1D;
$color-error:     #DD1C1A;
$color-success:   #44AF69;